#!/bin/sh
#
# PROVIDE: bannerstalkerd
# REQUIRE: LOGIN
# KEYWORD: shutdown

. /etc/rc.subr

name="bannerstalkerd"
rcvar=${name}_enable
pidfile=/var/run/${name}.pid

command=/usr/local/sbin/${name}
start_cmd=${name}_start
stop_cmd=${name}_stop
restart_cmd=${name}_restart

bannerstalkerd_start() {
    exec ${command} start
}

bannerstalkerd_stop() {
    exec ${command} stop
}

bannerstalkerd_restart() {
    exec ${command} restart
}

run_rc_command "$1"
